$hdrFont : 'Montserrat', sans-serif;
$bodyFont : 'Roboto', sans-serif;
$featureFont : 'Orbitron', sans-serif;

$colorPrimary : #dde;
$colorPrimaryDark : #2b0066;
$colorSecondary : #026;
$colorSecondaryDark : #b4021d;
$pin : rgba(255,255,255,0.2);
$grey : #f4f4f4;
$bodyText: #555;


